.formbookingpatient-body
{
    
        margin: 0 0 0 0;
        max-width: 50%;
        border-left: black 3em solid;
        border-right: black 3em solid;
        display: flex;
        flex-direction: column;
        @apply bg-black/10;
    
}

.formbookingdoctor-body

{
        margin: 0 auto 0 0;
        max-width: 50%;
        border-left: black 3em solid;
        border-right: black 3em solid;
        display: flex;
        flex-direction: column;
        @apply bg-black/10;
    
}