h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2.0rem;
}
p{
    font-size: 1.6rem;
}

.overview-des{
    display: flex;
    flex-direction: column;
    gap: 5em;
    color: white;
    background-color: #46CEC0;
    padding: 2%;
}
.overview-header
{   
    background-color: #3A57A7;
    color: white;
    padding: 2%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}
.quick-ac-container{
    min-width: 70%;
    padding: 2%;
}
.q-ac-header{
    background-color: #3A57A7 ;
    padding: 2%;
    border: solid white 0.5em;
    color:white;
    border-radius: 10px;
}
.qa-button{
    font-size: 1.6rem;
    border: solid 0.1rem;
    padding: 2%;
    min-width: 400px;
    border-radius: 10px;
    background-color: #46CEC0;
    transition: background-color,color 0.5s ease-out;
}
.qa-button:hover{
    background-color: #a1e2dc;
    color:black;
    transition: background-color,color,transform 0.2s ease-out;
}
.qa-button:active{
    background-color: #CE4654;
    color:white;
    transform: translateX(2%);
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-head
{
    padding: 4%;
    margin: 0 auto;
    max-width: 50%;
    border-top: black 2em solid;
    border-left: black 2em solid;
    border-right: black 2em solid;
    border-top-right-radius: 80em;
    @apply bg-black/10;
}


.main-title
{
    font-size: 2.4rem;
    font-weight: 700;
}

.des-title
{
    font-size: 2.0rem;
    font-weight: 200;
}
.su-warn
{
    color: red;
    font-size: 1.8rem;
    font-weight: 400;
}


.form-body
{
    margin: 0 auto;
    max-width: 50%;
    border-left: black 3em solid;
    border-right: black 3em solid;
    display: flex;
    flex-direction: column;
    @apply bg-black/10;
}
.form-input
{
    margin: 1.0em auto;
    font-size: 1.6rem;
    min-width: 80%;
    padding: 1%;
    color: black;
}

.form-bottom
{
    border-bottom: black 2em solid;
    border-left: black 2em solid;
    border-right: black 2em solid;
    max-width: 50%;
    margin: 0 auto;
    @apply bg-black/10;
}

.redirect-link
{
    font-size: 1.6rem;
    max-width: 60%;
    padding-left: 10%;
}
.btn-n
{
    @apply p-2 w-52 border rounded-2xl h-20 bg-green-400;
    font-size: 2.0rem;
    transition: background-color 0.4s ease-in;
}
.btn-wrapper
{
    
    display: flex;
    justify-content: space-between;
    padding: 6%;
}

.btn-n:hover
{
    @apply bg-green-100;
    
}

.su-success{
    color:#01ac9b;
    font-size: 1.8rem;
    font-weight: 400;
}