
/* Form container */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-size: 3.5rem; /* Adjust the font size as needed */
    border-radius: 0 5% 0% 0%;
}

/* Headings */
h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Labels */
label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Text input fields */
input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Radio buttons */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #4A5568;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

input[type="radio"]:checked {
    background-color: #4A5568;
}

input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0.25rem;
    background-color: #fff;
    border-radius: 50%;
}

/* Horizontal layout for radio buttons */
label {
    display: inline-block;
    margin-right: 1rem;
}

/* Horizontal layout for staff details */
label[name="staffID"],
label[name="staffName"] {
    display: inline-block;
    margin-right: 1rem;
}

/* Horizontal layout for items and quantity */
label[name^="item"],
label[name="qty"] {
    display: inline-block;
    margin-right: 1rem;
}

/* Submit button */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for submit button */
button[type="submit"]:hover {
    background-color: #0056b3;
}
